@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.about-section {
    padding: 140px 0 0 0;

    .about {
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 130px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 0 0 15px;
            background: url('../assets/img/desktop_alpha.webp') 100% 100%/contain no-repeat;

            &-title {
                @include m.font(45px, 400, v.$color_white);

            }

            &-desc {
                margin: 50px 0 0 0;
                @include m.font(20px, 300, v.$color_white);
                line-height: 150%;
                max-width: 590px;

            }

            @media (max-width: v.$media_xl) {
                background: url('../assets/img/desktop_alpha.webp') 100% 100%/420px no-repeat;
            }

            @media (max-width: v.$media_lg) {
                background: url('../assets/img/desktop_alpha.webp') 100% 100%/400px no-repeat;
            }

            @media (max-width: v.$media_md) {
                background: url('../assets/img/desktop_alpha.webp') 99% 100%/380px no-repeat;


                &-title {
                    @include m.font(35px, 400, v.$color_white);

                }

                &-desc {
                    margin: 20px 0 0 0;
                    @include m.font(16px, 300, v.$color_white);
                    line-height: 150%;
                    max-width: 500px;
                }
            }

            @media (max-width: v.$media_sm) {
                background: url('../assets/img/desktop_alpha.webp') 150px 100%/380px no-repeat;


                &-title {
                    @include m.font(35px, 400, v.$color_white);

                }

                &-desc {
                    max-width: 321px;
                }
            }

        }
    }
}