@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.about-section {
    padding: 140px 0 0 0;

    .about {
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 130px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 0 0 15px;
            background: url('../assets/img/desktop_alpha.webp') 100% 100%/contain no-repeat;

            &-title {
                @include m.font(45px, 400, v.$color_white);

            }

            &-desc {
                margin: 50px 0 0 0;
                @include m.font(20px, 300, v.$color_white);
                line-height: 150%;
                max-width: 590px;

            }

            @media (max-width: v.$media_xl) {
                background: url('../assets/img/desktop_alpha.webp') 100% 100%/420px no-repeat;
            }

            @media (max-width: v.$media_lg) {
                background: url('../assets/img/desktop_alpha.webp') 100% 100%/400px no-repeat;
            }

            @media (max-width: v.$media_md) {
                background: url('../assets/img/desktop_alpha.webp') 99% 100%/380px no-repeat;


                &-title {
                    @include m.font(35px, 400, v.$color_white);

                }

                &-desc {
                    margin: 20px 0 0 0;
                    @include m.font(16px, 300, v.$color_white);
                    line-height: 150%;
                    max-width: 500px;
                }
            }

            @media (max-width: v.$media_sm) {
                background: url('../assets/img/desktop_alpha.webp') 150px 100%/380px no-repeat;


                &-title {
                    @include m.font(35px, 400, v.$color_white);

                }

                &-desc {
                    max-width: 321px;
                }
            }

        }

        &__touch {
            position: relative;
            width: 100%;
            height: 500px;
            padding: 0 15px 0 0px;
            @include m.d-flex(end, end, nowrap, column, 0, 50px);

            &::before {
                content: "";
                @include m.position(absolute, -1, -1, top, left, 0, -250px);
                width: 100%;
                height: 100%;
                rotate: 15deg;
                background: url('../assets/img/phone_alpha.webp') 0% 0%/contain no-repeat
            }

            &-title {
                @include m.font(45px, 400, v.$color_white);
                line-height: 31%;
            }

            &-desc {
                @include m.font(20px, 300, v.$color_white);
                line-height: 150%;
                max-width: 480px;
                text-align: right;
            }


            @media (max-width: v.$media_xl) {
                &::before {
                    @include m.position(absolute, -1, -1, top, left, -35, -360px);
                }
            }

            @media (max-width: v.$media_lg) {
                max-height: 450px;

                &::before {
                    @include m.position(absolute, -1, -1, top, left, -50, -380px);
                }
            }

            @media (max-width: v.$media_md) {
                max-height: 400px;
                @include m.d-flex(start, end, nowrap, column, 0, 20px);

                &-title {
                    @include m.font(35px, 400, v.$color_white);
                    line-height: 40%;
                }

                &-desc {
                    @include m.font(16px, 300, v.$color_white);
                    line-height: 125%;
                    max-width: 330px;
                }

                &::before {
                    @include m.position(absolute, -1, -1, top, left, 0, -280px);
                    rotate: 65deg;
                    background: url('../assets/img/phone_alpha.webp') 0% 0%/90% no-repeat;
                }
            }

            @media (max-width: v.$media_sm) {
                &::before {
                    @include m.position(absolute, -1, -1, top, left, 20px, -200px);
                    background: url('../assets/img/phone_alpha.webp') -170px 0%/125% no-repeat;
                }
            }

            @media (max-width: v.$media_min) {
                height: 350px;

                &::before {
                    @include m.position(absolute, -1, -1, top, left, 35px, -170px);
                }
            }
        }

        &__approach {
            position: relative;
            width: 100%;
            height: 800px;
            padding: 0 0 0 15px;
            background: url('../assets/img/cactus_alpha.webp') 100% 100%/contain no-repeat;
            // @include m.d-flex(start, start, nowrap, column, 0, 50px);

            &-title {
                margin-top: 200px;
                @include m.font(45px, 400, v.$color_white);
                line-height: 31%;
            }

            &-desc {
                margin-top: 50px;
                @include m.font(20px, 300, v.$color_white);
                line-height: 150%;
                max-width: 730px;
            }

            @media (max-width: v.$media_xl) {
                background: url('../assets/img/cactus_alpha.webp') 100% 100%/470px no-repeat;
            }

            @media (max-width: v.$media_lg) {
                &-desc {
                    max-width: 500px;
                }
            }

            @media (max-width: v.$media_md) {
                height: 730px;
                background: url('../assets/img/cactus_alpha.webp') 90% 100%/320px no-repeat;

                &-title {
                    margin-top: 50px;
                    @include m.font(35px, 400, v.$color_white);
                    line-height: 40%;
                }

                &-desc {
                    text-align: left;
                    padding: 0 15px 0 0;
                    margin-top: 30px;
                    @include m.font(16px, 300, v.$color_white);
                    line-height: 125%;
                }
            }

            @media (max-width: v.$media_min) {
                height: 500px;
                background: url('../assets/img/cactus_alpha.webp') 99% 100%/220px no-repeat;

                &-title {
                    margin-top: 0px;
                }
            }
        }
    } 
}