* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button,
figure,
hr,
blockquote {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}