@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    width: 180px;
    height: 195px;
    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: color.adjust(v.$color_white, $alpha: -0.9);
    @include m.d-flex(start, center, nowrap, column, 0, 10px);

    &__icon {
        width: 25px;
        height: 25px;
        fill: v.$color_black;
        flex-shrink: 0;

    }

    &__title {
        @include m.font(18px, 5a00, v.$color_black);
    }

    &__desc {
        @include m.font(16px, 300, v.$color_black);
        text-align: center;

    }

    &:hover {
        cursor: pointer;
        background-color: color.adjust(v.$color_white, $alpha: -0.95);

        .info-card__icon {
            fill: v.$color_white;
        }

        .info-card__title,
        .info-card__desc {
            color: v.$color_white;
        }
    }

    @media (max-width: v.$media_min) {
        width: 140px;
        height: 170px;

        &__title {
            @include m.font(14px, 400, v.$color_black);
        }

        &__desc {
            @include m.font(16px, 300, v.$color_black);
        }
    }
}

.img-card {
    position: relative;
    width: 325px;
    height: 295px;
    border-radius: 10px;
    background-color: color.adjust(v.$color_white, $alpha: -0.9);
    @include m.d-flex(space-between, center, nowrap, column, 0, 0);
    overflow: hidden;
    flex-shrink: 0;

    &__title {
        @include m.font(23px, 400, v.$color_white);
        @include m.d-flex(center, center, nowrap, column, 0, 0);
        flex-grow: 1;
    }

    &__preview {
        width: 100%;

    }

    &__btn {
        @include m.position(absolute, 1, -1, bottom, left, -20px, -30px);
        width: 120px;
        height: 90px;
        border-radius: 20px;
        border: none;
        background-color: v.$color_white;
        rotate: z 7deg;

        &-icon {
            width: 36px;
            height: 23px;
            fill: v.$color_black;
            rotate: z -7deg;
            translate: 12px -3px;
        }

        &:hover {
            cursor: pointer;
            rotate: z 7deg;
            scale: 1.3;
            transition: scale .2s ease-out;

            .img-card__btn-icon {
                rotate: z -7deg;
                translate: 17px -8px;
                transition: translate .2s ease-out;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3), inset 0 -5px 70px 25px rgba(0, 0, 0, .2)
    }

    // @media (max-width: v.$media_min) {
    //     // TODO: add width and height for cards
    // }

}