@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.experience {
    padding-top: 200px;
    text-align: center;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);

    &__title {
        @include m.font(60px, 400, v.$color_white);

        @media (max-width: v.$media_sm) {
            /* TODO: 35px*/
            @include m.font(40px, 400, v.$color_white);
        }
    }

    &__cards-wrapper {
        @include m.d-flex(space-around, center, wrap, row, 20px, 55px);
        width: 100%;
        padding: 0 15px;
    }   
}
