@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%cloud-template {
    width: 700px;
    height: 240px;
    background: url('../assets/img/cloud_alpha.png') center/contain no-repeat;
}

.form-section {
    padding-top: 330px;
    position: relative;
    overflow: hidden;

    &__bg-cloud {
        @extend %cloud-template;
    }

    .cloud--left {

    }

    .cloud--right {
        
    }
}