@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%cloud-template {
    width: 700px;
    height: 240px;
    background: url('../assets/img/cloud_alpha.png') center/contain no-repeat;
}

.form-section {
    margin-top: 160px;
    padding: 150px 15px;
    position: relative;
    overflow: hidden;

    &__bg-cloud {
        @extend %cloud-template;

        &--left {
            @include m.position(absolute, 1, -1, top, left, 0, -300px);
        }

        &--right {
            @include m.position(absolute, 1, -1, bottom, right, 0, -420px);
        }
    }

    &__wrapper {
        width: 100%;
        height: 360px;
        // margin: 0 auto;
        @include m.d-flex(center, center, nowrap, row, 0, 0);
    }

    @media (max-width: v.$media_xl) {
        padding: 220px 15px 240px 15px;
    }

    @media (max-width: v.$media_md) {
        margin-top: 0;
    }
}

.contact-form {
    width: 100%;
    max-width: 625px;
    // width: min(625px, 100%);
    @include m.d-flex(center, center, nowrap, column, 0px, 23px);

    &__title {
        text-align: center;
        @include m.font(36px, 400, v.$color_black);
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        height: 47px;
        border-radius: 20px;
        border: 1px solid v.$color_grey;
        padding: 0 1em;
        @include m.font(25px, 400, v.$color_black);

        &::placeholder {
            @include m.font(25px, 300, v.$color_grey);
        }
    }

    &__submit-btn {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        @include m.font(25px, 500, v.$color_white);
        background-color: v.$color_black;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: v.$media_md) {
        &__title {
            @include m.font(32px, 400, v.$color_black);
            margin-bottom: 20px;
        }

        &__input {
            width: 100%;
            height: 47px;
            border-radius: 20px;
            border: 1px solid v.$color_grey;
            padding: 0 1em;
            @include m.font(18px, 400, v.$color_black);

            &::placeholder {
                @include m.font(18px, 300, v.$color_grey);
            }
        }
    }
}